.landingPage {
  width: 100vw;
  height: 100vh;
  font-family: helvetica;
}

.landingPage-content {
  width: 100%;
  display: flex;
  background-color: var(--bg-color);
  justify-content: center;
}

.landingPage-content-main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingPage-content-sidebar {
  width: 20%;
  position: absolute;
}

.landingPage-sections {
  height: 90vh;
  width: 100%;
  display: flex;
  margin-left: 15%;
}

/*--------------- Intro -----------------------------------------*/

.landingPage-start {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: absolute;
}

.text-effect {
  overflow: hidden;
  position: relative;
  display: flex;

  filter: contrast(110%) brightness(190%);
}
.neon {
  position: relative;
  background: black;
  color: transparent;
}
.neon::before,
.neon::after {
  content: attr(data-text);
  color: white;
  filter: blur(0.01em);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.neon::after {
  mix-blend-mode: difference;
}
.gradient-G {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 10;
}
.gradient-T {
  position: absolute;
  top: 0;
  left: 250px;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 10;
}
.gradient-M {
  position: absolute;
  top: 0;
  left: 450px;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 10;
}
.spotlight {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 10;
}
.gradient-G {
  width: 248.91px;
  background: linear-gradient(45deg, red, #ff0000, #ff6a00);
  mix-blend-mode: multiply;
}
.gradient-T {
  width: 195.47px;
  background: linear-gradient(45deg, orange, orange, #00a1ff);
  mix-blend-mode: multiply;
}
.gradient-M {
  width: 266.56px;
  background: linear-gradient(45deg, #00a1ff, #00a1ff, #ceedff);
  mix-blend-mode: multiply;
}
.spotlight {
  animation: light 5s infinite linear;
  /* background: radial-gradient(circle, white, transparent 25%) 0 0 / 25% 25%, radial-gradient(circle, white, black 25%) 50% 50% / 12.5% 12.5%; */
  background: radial-gradient(circle, white, transparent 25%) 50% 20% / 40% 20%, radial-gradient(circle, white, black 25%) 40% 20% / 30.5% 20%;
  top: -100%;
  left: -100%;
  mix-blend-mode: color-dodge;
}
@keyframes light {
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}
.neon {
  font: 700 320px "Lato", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.neon:focus {
  outline: none;
  border: 1px dotted white;
}
body {
  background: black;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/*--------------------Intro TAG LINE ----------------------- */

.tagLine {
  display: flex;
}

@font-face {
  font-family: "ubuntu";
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2) format("woff2");
}
body {
  height: 100vh;
  margin: 0;
  background-color: #353535;
  font-family: "ubuntu", Arial, sans-serif;
  overflow-x: hidden;
  display: grid;
  place-items: center;
}
a {
  text-decoration: none;
  color: #9ca0b1;
}
.wrapper-good,
.wrapper-tech,
.wrapper-mind {
  text-align: center;
}
.wrapper-good h1 {
  margin: 0;
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(to right, red, red, #ff5200);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}
.wrapper-tech h1 {
  margin: 0;
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(to right, #ff8100, orange, #ffe900);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}
.wrapper-mind h1 {
  margin: 0;
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(to right, #00a1ff, #00a1ff, #0056ff);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
