.landingPage-about {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.landingPage-about-image {
  width: 45%;
  display: flex;
  justify-content: center;
}

.landingPage-about-image > img {
  width: 700px;
  height: 500px;
  margin-top: 20px;
}

.landingPage-about-text {
  width: 40%;
  padding-right: 200px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
