.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: 300px;
}

.about-section1 {
  display: flex;
  width: 80%;
  height: 30%;
  justify-content: center;
}

.about-section1-directorMessage {
  display: flex;
  width: 50%;
  box-shadow: 2px 2px 5px 2px #8080809c;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.about-section1-companyOverview {
  display: flex;
  flex-direction: column;
  width: 50%;
  box-shadow: 2px 2px 5px 2px #8080809c;
  border-radius: 40px;
  align-items: center;
  margin-left: 20px;
}
