.navbar {
  position: fixed;
  z-index: 1;
  margin: 40px;
  left: 0;
  top: 0;
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 800px;
}

.navbar-options {
  display: flex;
  margin-right: 40px;
  font-size: 20px;
}

.navbar-options > a {
  text-decoration: none;
  color: white;
  margin-right: 40px;
}
